*{
    margin: 0;
    padding: 0;
}

#header{  
    background-color: brown;
    height: 60px;
    width: 100%;
}


#icon{
    /* display: inline-block; */
    padding-top: -10px;
    float: left;
    margin-top: 9px;
    margin-left: 8px;
}
img{
    /* display: inline-block; */
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

#social{
    float: right;
    margin-top: 1%;
    margin-right: 1%;
}
#logo{
    background-color: whitesmoke;
    font-size: 60px;
    height: 132px;
    width: 136px;
    border-radius: 69px;
    position: relative;
    left: 600px;
    top: 77px;
    color: red;
}

#logo1{
    position: relative;
    left: 51px;
    top: 26px;
}

.heading{
    position: relative;
    top: 105px;
    left: 341px;
    font-size: 41px;
    color: white;
    display: inline-block;
}
.heading p{
    display: inline-block;
}

.search{
/* width: 100%; */
height: 400px;
background-image: url(img/search.png);
background-repeat: no-repeat;
background-size: cover;
}
.quicksearch{
    height: 40vh;
    background-color: rgb(191, 240, 142);
}
footer{
    background-color: #3b2632;
    height: 100px;
}

.dropdown{
    position: relative;
    top: 141px;
    /* left: 527px; */
    text-align: center;
}
select {
    height: 50px;
    width: 248px;
    font-size: 20px;
    text-align: center;
  }
  footer h3{
    text-align: center;
    color: white;
    font-weight: bold;
  }
.footDiv{
    text-align: center;
    position: relative;
    top: 30px;
    color:white
}

.footDiv ul li a{
    text-decoration: none;
    color: white;
}